.cabecalho {
  height: 10vh;
  background-color: #1e1e1e;
  padding-left: 8vw;
  padding-right: 8vw;
}
.nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.3vh;
  font-weight:600;
}
.nav a {
  text-decoration: none;
  color: #fff;

}
