.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.logoContainer {
  margin-bottom: 20px;
}

.logo {
  width: 40vh;
  height: 35vh;
  margin-top: -200px;
}

.titulo {
  font-size: 5vh;
  font-weight: 500;
  margin-bottom: 30px;
}

.botao {
  width: 50vh;
  padding: 15px 15px;
  margin: 10px 0;
  background-color: #1ed2b6;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 3vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: #17b9a1;
}
