.titulo{
    font-size:5vh;
    text-align: center;
    margin-top: 2rem;
}

.restaurante{
    width: 80vw;
    height: 70vh;
    background-color: #D9D9D9;
    margin-top: 2rem;
    margin-left: 9rem;
    display: flex;
    flex-direction: column;
}

.secao{
    display: flex;
}

.secao2{
    display: flex;
    padding-top: 3rem;
    
}

.secao2 img{
    width: 150px;
    height: 150px;
    padding-left: 1rem;

}

.nome{
    font-weight: bold;
    margin-top: 3rem;
    margin-left: 4rem;
}

.texto{
    margin-top: 3rem;
    margin-left: 1rem;
}

.botaoMudar{
    width: 20vw;
    height: 5vh;
    background-color: #414141;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
}

.botaoExcluir{
    width: 20vw;
    background-color: #FF0000;
    color: #FFFFFF;
    height: 5vh;
    font-weight: bold;
    font-size: 15px;
}

.opcoes{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 4rem;
    gap: 6px;
}