.titulo {
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
  margin-top: 10px;
}

.produtoContainer {
  display: flex;
  gap: 350px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
}

.colunaImagem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagemProduto {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.botaoImagem {
  margin-top: 12px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.botaoImagem:hover {
  background-color: #0056b3;
}

.colunaTexto {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.itemTexto {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.itemTexto strong {
  font-weight: bold;
}

.itemTexto span {
  font-weight: normal;
}

.editar {
  cursor: pointer;
  color: #007bff;
}

@media (max-width: 768px) {
  .produtoContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    gap: 50px;
    
  }

  .colunaTexto {
    align-items: center;
    width: 100%;
  }

  .itemTexto {
    justify-content: center;
    flex-wrap: wrap;
  }

  .imagemProduto {
    width: 100%;
    max-width: 280px;
    height: auto;
  }

  .botaoImagem {
    width: 100%;
    max-width: 200px;
  }
}
